@import '../../../styles/_global.scss';

.clearancePage {
  @include display-flex;
  flex-direction: column;

  .inputCard {
    margin-bottom: 32px;
  }

  @include respond-to('xs-l') {
    .inputCard {
      padding: 0;
      border: none;
    }
  }
}
