@import '../../../styles/global';

.messages {
  padding: 0;
  outline: none;

  .highlighted {
    animation: fadeOut 4s;
  }

  @keyframes fadeOut {
    0% {
      background-color: rgba($color: $color-white, $alpha: 0.5);
    }

    100% {
      background: transparent;
    }
  }
}
